<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775511309581-ug3kaqv6nfcras03qh6620bro9ge1ahi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775511309581-ug3kaqv6nfcras03qh6620bro9ge1ahi</string>
	<key>API_KEY</key>
	<string>AIzaSyCM7DNYMMuPkYLOTb84Kwwue4WnG7uB1j0</string>
	<key>GCM_SENDER_ID</key>
	<string>775511309581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.store</string>
	<key>PROJECT_ID</key>
	<string>store-app-3be10</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-3be10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775511309581:ios:e80d97808ff50f8ff10444</string>
</dict>
</plist>